body
{
    background-color: lightgray;
}
.box1
{
    width: 50%;
    background: none;
    background-color: white;
    box-shadow: 2px gray;
    outline: 3px black;
}
.box1
{
    width: 80%;
    background: none;
    background-color: white;
    box-shadow: 2px black;
    outline: 3px black solid;
}
input
{
    background-color: white;
    border-radius: 5%;
}
.box
{
    width: 200px;
    height: 50px;
    margin: 10px;
}
a 
{
    text-decoration: none;
    outline: 2px black solid;
    background-color: lightgray;
}
.box
{
    outline: 2px gray solid;
    height: 200px;
    width: 80%;
}
.left
{
    width: 50%;
    float: left;
    text-align: left;
    height: 85%;
}
.leftd
{
    height: 10%;
    width: 50%;
    float: left;
    text-align: left;
}
.right
{
    width: 50%;
    float: right;
    text-align: left;
    height: 100%;
}
.dol
{
    background: none;
    background-color: white;
    height: 50px;
}
.panel
{
    height: 100px;
    width: 100%;
}
.panel a
{
    text-decoration: none;
}
.details
{
    padding: 15px;
    text-align: left;
}